#imported turtle module
import turtle
 
wind = turtle.Screen()
#Set the title of the window
wind.title("PingPong")
#Set the background color of the window
wind.bgcolor("light blue")
#Set the width and the height of the window
wind.setup(width=800, height=600)
#Stop the window from updaiting auto
wind.tracer(0)

#madrab1
madrab1 = turtle.Turtle()
madrab1.speed(0)
madrab1.shape("square")
madrab1.shapesize(stretch_wid=5,stretch_len=1)
madrab1.color("blue")
madrab1.penup()
madrab1.goto(-350,0)
#madrab2
madrab2 = turtle.Turtle()
madrab2.speed(0)
madrab2.shape("square")
madrab2.shapesize(stretch_wid=5,stretch_len=1)
madrab2.color("red")
madrab2.penup()
madrab2.goto(+350,0)
#ball
ball= turtle.Turtle()
ball.speed(1)
ball.shape("circle")
ball.shapesize(stretch_wid=2,stretch_len=2)
ball.color("black")
ball.penup()
ball.goto(00,00)
#main game loop
def madrab1_up():
    y=madrab1.ycor()
    y+=20
    madrab1.sety(y)
wind.listen()
wind.onkeypress(madrab1_up, "g")

def madrab1_down():
    y=madrab1.ycor()
    y-=20
    madrab1.sety(y)
wind.listen()
wind.onkeypress(madrab1_down, "f")

def madrab2_up():
    y=madrab2.ycor()
    y+=20
    madrab2.sety(y)
wind.listen()
wind.onkeypress(madrab2_up, "j")

def madrab2_down():
    y=madrab2.ycor()
    y-=20
    madrab2.sety(y)
wind.listen()
wind.onkeypress(madrab2_down, "h")

ball.dx = 2.5
ball.dy = 2.5

while True:
    wind.update()
    ball.setx(ball.xcor() + ball.dx)
    ball.sety(ball.ycor() + ball.dy)

    if ball.ycor() >290:
        ball.sety(290)
        ball.dy *= -1
    
    if ball.ycor() <-290:
        ball.sety(-290)
        ball.dy *= -1

    if ball.xcor() >390:
        ball.goto(0,0)
        ball.dx *= -1

    if ball.xcor()<-390:
        ball.goto(0,0)
        ball.dx *= -1

    if (ball.xcor()> 340 and ball.xcor < 350) and (ball.ycor()<madrab2.ycor()+ 40 and ball.ycor()> madrab2.ycor()-40 ):
        ball.setx(340)
        ball.dx *= -1
    
    if (ball.xcor()<-340 and ball.xcor >-350) and (ball.ycor()<madrab1.ycor()+ 40 and ball.ycor()> madrab2.ycor()-40 ):
        ball.setx(-340)
        ball.dx *= -1
